In [51]:
import pandas as pd
import numpy as np

In [52]:
# read in behavioral data as .csv
# eventually will write this more flexibly as a function (so users can give a filename externally)
data = pd.read_csv("74 12042019.csv")

In [53]:
#Time values < 0 are housekeeping variables reported by the software. Safe to filter these out so they do not get counted as trials, etc.
filter_time_zero = data.Evnt_Time != 0
filter_time_zero.values
data = data[filter_time_zero]

In [54]:
#logic for indicating new trials, adds a new column to the data frame (data) that counts the number of trials based on trial starts
is_new_trial = (data.Item_Name == "Forced-Choice Trials Begin") | (data.Item_Name == "Free-Choice Trials begin")
data["is_new_trial"] = is_new_trial
data["is_new_trial"].value_counts()
data["trial_num"] = np.cumsum(data["is_new_trial"])
data["trial_num"].max()

164

In [81]:
def make_table(data):
    # add new functions here
    BlockNum = get_block(data)
    trial_type = get_trial_type(data)
    rew_type = rew_size(data)
#     RewSize = rew_size(data)
#     Forced_Free = ForceFree(data)

    return pd.Series({"BlockNum": BlockNum,
                     "trial_type": trial_type,
                     "rew_type": rew_type})
#     return pd.Series({"BlockNum": BlockNum},{"RewSize": RewSize})
   
    

def get_block(data):
    is_block_1 = data[data["Item_Name"] == "Session1"]["Arg1_Value"]
    is_block_2 = data[data["Item_Name"] == "Session2"]["Arg1_Value"]
    is_block_3 = data[data["Item_Name"] == "Session3"]["Arg1_Value"]
    
    if is_block_1.any():
        return 1
    elif is_block_2.any():
        return 2
    elif is_block_3.any():
        return 3

# def rew_size(data):
#     is_large_rew = (data.Arg1_Value == 0.3)
#     is_small_rew = (data.Arg1_Value == 1.2)
    
#     if is_large_rew.any():
#         return 1.2
#     elif is_small_rew.any():
#         return 0.3

# def ForceFree(data):
#     is_forced_trial = (data.Item_Name == "Forced-Choice Trials Begin")
#     is_free_trial = (data.Item_Name == "Free-Choice Trials begin")
    
#     if is_forced_trial.any():
#         return 0
#     elif is_free_trial.any():
#         return 1

# def Shock(data):
#     y_shk = (data.Item_Name == "shock_on_off") & (data.)

In [50]:
make_table(data)

BlockNum    1
dtype: int64

In [60]:
t1 = data.loc[data["trial_num"] == 1]

In [61]:
if data["Item_Name"]:

,Evnt_Time,Evnt_ID,Evnt_Name,Item_Name,Alias_Name,Group_ID,Num_Args,Arg1_Name,Arg1_Value,Arg2_Name,Arg2_Value,Arg3_Name,Arg3_Value,Arg4_Name,Arg4_Value,Arg5_Name,Arg5_Value,is_new_trial,trial_num
147,60.893,1,Condition Event,Forced-Choice Trials Begin,NaN,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,1
148,60.893,4,Output Off Event,TrayLight #1,NaN,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,1
149,60.893,32,Whisker - Display Image,Bussey Mouse Operant Mode 2 x 1 x low,Images,7,2,Position,2.0,Image 1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,1
150,60.893,29,Timer Event,Presentation_timer,NaN,7,1,Value,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,1
151,60.893,32,Whisker - Display Image,Bussey Mouse Operant Mode 2 x 1 x low,Background,7,2,Position,1.0,Image 1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,False,1

In [68]:
row_is_forced_choice = t1["Item_Name"] == "Forced-Choice Trials Begin"
num_forced_choice_rows = row_is_forced_choice.sum()

In [95]:
# row_rew_size =
def rew_size(data):
    return (data.loc[data["Item_Name"] == "Feeder #2"]["Arg1_Value"]).values[0]

In [80]:
def get_trial_type(data):
    if (data["Item_Name"] == "Forced-Choice Trials Begin").sum():
        return "Forced"
    elif (data["Item_Name"] == "Free-Choice Trials begin").sum():
        return "Free"

In [ ]:
def rew_size(data):
    if (data["Item_Name"] == "Forced-Choice Trials Begin").sum():
        return "Forced"
    elif (data["Item_Name"] == "Free-Choice Trials begin").sum():
        return "Free"

In [82]:
grouped_data = data.groupby("trial_num")
result = grouped_data.apply(make_table)

In [84]:
result.trial_type.value_counts()

Free      113
Forced     51
Name: trial_type, dtype: int64

In [92]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [5, 6, 7]})

In [94]:
df.loc[df["B"] >= 6]

   A  B
1  2  6
2  3  7